.card-container {
    background-color: black;
    height: 100%;
}

.card {

}

.content {
    
}

.page-details {
    width: calc(100% - 332px);
    z-index: 1;
}

.loading {
    background-color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    font-family: 'Exo 2';
    font-size: 20px;
    font-weight: 700;
}